a:link {color:#132343;}      /* 未访问链接*/
a:visited {color:#214523;}  /* 已访问链接 */
a:hover {color:#278592;}  /* 鼠标移动到链接上 */
a:active {color:#213234;}  /* 鼠标点击时 */
body
{
	background-color:#d0e4fe;
	background-image:url('https://us.123rf.com/450wm/aldonat/aldonat1603/aldonat160300110/53859377-pig-background.jpg?ver=6');
}
h1
{
	color:orange;
	text-align:center;
	border-top-style:solid;
	border-right-style:dotted;
	border-bottom-style:solid;
	border-left-style:dotted;
	font-family:"標楷體";
}
	table, td, th
{
	border:1px solid green;
	font-family:"標楷體";
}
th
{
	background-color:green;
	color:white;
}
	
td
{
	background-color:white;
    padding:15px;
}

	button {
	background-color:#990000;
	color:#ffffff;
	padding:15px;
	font-size:12px;
	margin:10px;
	border:1px solid white;
	border-radius:5px;
}